.light,
:root {
	--tw-default-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);
	--tw-primary-box-shadow: 0px 4px 12px 0px rgba(40, 132, 239, 0.35);
	--tw-success-box-shadow: 0px 4px 12px 0px rgba(53, 189, 100, 0.35);
	--tw-danger-box-shadow: 0px 4px 12px 0px rgba(241, 65, 108, 0.35);
	--tw-info-box-shadow: 0px 4px 12px 0px rgba(114, 57, 234, 0.35);
	--tw-warning-box-shadow: 0px 4px 12px 0px rgba(246, 192, 0, 0.35);
	--tw-dark-box-shadow: 0px 4px 12px 0px rgba(37, 47, 74, 0.35);

	--tw-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-tooltip-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-popver-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-modal-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-drawer-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-dropdown-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-form-input-focus-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.dark {
	--tw-default-box-shadow: none;
	--tw-primary-box-shadow: none;
	--tw-success-box-shadow: none;
	--tw-danger-box-shadow: none;
	--tw-info-box-shadow: none;
	--tw-warning-box-shadow: none;
	--tw-dark-box-shadow: none;

	--tw-card-box-shadow: none;
	--tw-tooltip-box-shadow: 0px 3px 4px 0px rgba(172, 106, 106, 0.03);
	--tw-popver-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-modal-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-drawer-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-dropdown-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
	--tw-form-input-focus-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}